body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: "Dancing Script", serif;
  
}

#root {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr 6fr;
}

#outer {
  display: grid;
  grid-template-columns: 50% 50%;
}

#picture {
  width:50%;
}

#content {
  width:50%;
}

#form {
  display: flex;
    height: 100%;
    align-items: start;
    justify-content: center;
    grid-row: 4;
    padding: 0;
    margin: 0;
}
