html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: darkgreen;
  font-family: "Dancing Script", serif;
  

#root {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100%;
  height: 100%;
  
}
}
#picture {
  background-image: url('./images/Image1.jpg');
  background-size: cover;
  width:100%;
  height: 100%;
  grid-column: 1 / 2;
  border-radius: 2%;
}

#content {
  width:94%;
  background: #f9e7cf;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  grid-column: 2 /3;
  height:94%;
  border: 3px solid #087c15;
  border-radius: 8%;
  margin: 15px;
}

#form {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0;
  margin: 0;
}
